<div class="row">
    <div class="pull-left col-md-6 col-xs-6">
        <div class="g-plusone" data-size="medium" data-annotation="bubble" data-width="300" data-href="http://gdgnantes.com"></div>
    </div>
    <div class="logo logo-footer logo-gray pull-right"></div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-6">
        <h5>Liens</h5>
        <ul>
            <li><a href="http://gdgnantes.com" target="_blank">GDG Nantes</a></li>
            <li><a href="https://developers.google.com" target="_blank">Google Developers</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-xs-6">
        <h5>Contacts</h5>
        <ul>
            <li><a href="mailto:bureau@gdgnantes.com" target="_blank">bureau@gdgnantes.com</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-xs-6">
        <h5>FAQ</h5>
        <ul>
            <li><a href="/cod">Code of Conduct</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <ul class="social-links">
            <li>
                <a href="https://www.google.com/+Gdgnantes" target="_blank">
                    <svg class="icon icon-google-plus" viewBox="0 0 30 32">
                        <use xlink:href="/img/sprites/sprites.svg#icon-google-plus"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/gdgnantes" target="_blank">
                    <svg class="icon icon-twitter" viewBox="0 0 30 32">
                        <use xlink:href="/img/sprites/sprites.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://facebook.com/GDGNantes" target="_blank">
                    <svg class="icon icon-facebook" viewBox="0 0 30 32">
                        <use xlink:href="/img/sprites/sprites.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="copyright"> &copy; 2015 Based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>. Originally designed by <a href="https://plus.google.com/+OlehZasadnyy/about" target="_blank">Oleh Zasadnyy</a>. Carefully handcrafted by <a href="http://www.gdgnantes.com" target="_blank">GDG Nantes</a>.
        </p>
    </div>
</div>
