<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="author" content="Team @ GDG Nantes">
<meta name="description" content="Le DevFest Nantes 2015 est une journée de conférence accueillant 600 développeurs à la cité des congrès de nantes">
<meta name="keywords" content="event, gdg, devfest, google, programming, android, chrome, developers, nantes">
<meta name="google-site-verification" content="" />
<link rel="canonical" href="http://devfest.gdgnantes.com">
<!-- Social: Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@gdgnantes">
<meta name="twitter:title" content="DevFest Nantes 2015">
<meta name="twitter:description" content="Le DevFest Nantes 2015 est une journée de conférence accueillant 600 développeurs à la cité des congrès de nantes">
<meta name="twitter:image:src" content="http://devfest.gdgnantes.com/img/seo/sharing-twitter.png">
<!-- Social: Facebook / Open Graph -->
<meta property="og:title" content="DevFest Nantes 2015" />
<meta property="og:site_name" content="DevFest Nantes 2015" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://devfest.gdgnantes.com" />
<meta property="og:image" content="http://devfest.gdgnantes.com/img/seo/sharing-facebook.png" />
<meta property="og:description" content="Le DevFest Nantes 2015 est une journée de conférence accueillant 600 développeurs à la cité des congrès de nantes" />
<title>DevFest Nantes 2015</title>
<link rel="shortcut icon" href="/img/favicons/favicon.ico">
<link href="/css/main.css" rel="stylesheet">
<meta name="theme-color" content="#2b5797">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
