    <div class="overlay white-solid"></div>
    <svg id="menu-trigger" class="menu-trigger icon icon-menu visible-xs" viewBox="0 0 32 32">
        <use xlink:href="/img/sprites/sprites.svg#icon-menu"></use>
    </svg>
    <a href="/" id="logo-header" class="logo-header">
        <div class="logo logo-light"></div>
    </a>
    <nav class="st-menu st-effect retro" id="menu">
        <div class="logo-navbar logo logo-dark visible-xs"></div>
        <ul>
            <li> <a class="" href="/" >Accueil</a> </li>
            <!--
            <li> <a class="" href="/schedule" >Agenda</a> </li>
            -->
            <li> <a class="" href="/speakers" >Speakers</a> </li>
            <li> <a class="" href="/team" >L'équipe</a> </li>
            <li> <a class="" href="/logistics" >En pratique</a> </li>
            <li> <a class="" href="http://devfest2014.gdgnantes.com" target="_blank">Edition 2014</a> </li>
        </ul>
        <!--
        <ul id="bottom-navlinks" class="bottom-navlinks visible-xs">
            <li> <a href="{{URL_CFP}}" target="_blank">Devenez speaker</a> </li>
        </ul>
        <a href="{{URL_CFP}}" class="right-nav-button right-nav-button-hidden btn btn-primary waves-effect waves-button waves-light waves-float pull-right hidden-xs hidden-sm" target="_blank"> Devenez speaker </a>
        -->
    </nav>
