.ribbon-wrapper .web {
  border-right: 4px solid #f7c63d
}

.ribbon-wrapper .mobile {
  border-right: 4px solid #0c9a54
}

.ribbon-wrapper .cloud {
  border-right: 4px solid #6388c5
}

.ribbon-wrapper .discovery {
  border-right: 4px solid #da483c
}

#speakers .lily-effect :hover figcaption{
        background: none;
}

#speakers .lily-effect  figcaption{
        background: rgba(0,0,0,0.35);
}