<!DOCTYPE html>
<html lang="en" ng-app="devfest2015">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="Team @ GDG Nantes">
    <meta name="description" content="Le DevFest Nantes 2015 est une journée de conférence accueillant 700 développeurs à la cité des congrès de nantes">
    <meta name="keywords" content="event, gdg, devfest, google, programming, android, chrome, developers, nantes">
    <meta name="google-site-verification" content="4EEgOZ6RmVM4YVw1QNw-f8JuKIaHaDJ4HKLNRtfdntM" />
    <link rel="canonical" href="https://devfest.gdgnantes.com">
    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@gdgnantes">
    <meta name="twitter:title" content="DevFest Nantes 2015">
    <meta name="twitter:description" content="Le DevFest Nantes 2015 est une journée de conférence accueillant 700 développeurs à la cité des congrès de nantes">
    <meta name="twitter:image:src" content="https://devfest.gdgnantes.com/img/seo/sharing.png">
    <!-- Social: Facebook / Open Graph -->
    <meta property="og:title" content="DevFest Nantes 2015" />
    <meta property="og:site_name" content="DevFest Nantes 2015" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://devfest.gdgnantes.com" />
    <meta property="og:image" content="https://devfest.gdgnantes.com/img/seo/sharing.png" />
    <meta property="og:description" content="Le DevFest Nantes 2015 est une journée de conférence accueillant 700 développeurs à la cité des congrès de nantes" />
    <!--Fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto:500,100,300' rel='stylesheet' type='text/css'>
    <title>Agenda - DevFest Nantes 2015</title>
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <!-- build:css ../custo/all.css -->
    <link href="../custo/main.css" rel="stylesheet">
    <link href="../custo/custo.css" rel="stylesheet">
    <!-- endbuild -->
    <meta name="theme-color" content="#2b5797">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
</head>
<body  ng-controller="AgendaCtrl">
    <div id="svg-sprites" ng-include="'/partials/svg-sprites.html'"></div>
    <div id="loader" ng-include="'/partials/loader.html'"></div>
    <div id="st-container" class="st-container disable-scrolling"  style="display:none;" >
        <div class="st-pusher" >
            <div class="st-content" ng-if="agenda.sessions">
                <!-- Begin Top Section -->
                <section id="top-section" class="top-section image-section enable-overlay" style="background-image: url('/img/sections-background/schedule.jpg');">
                    <div class="overlay gradient-overlay"></div>
                    <header id="top-header" class="top-header" ng-include="'/partials/top-header.html'">
                    </header>
                    <div class="content-wrapper">
                        <div class="jumbotron text-left">
                            <div class="animated hiding" data-animation="fadeInLeft" data-delay="500">
                                <h1>Agenda</h1> </div>
                        </div>
                    </div>
                </section>
                <!-- End Top Section -->
                <!-- Begin Schedule Section -->
                <section id="schedule" class="schedule" ng-class="{showagenda: showAgenda}">
                    <a ng-click="scrollTo('codelabs')" class="btn btn-primary waves-effect waves-button waves-light waves-float">Afficher les codelabs</a>
                    <a href="#" class="btn btn-primary waves-effect waves-button waves-light waves-float" ng-click="toggleAgenda()">{{btnToggleAgenda}}</a>
                    <div class="content-wrapper clearfix">
                        <div id="conferences" class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
                            <h4 class="schedule-table-heading">Conférences</h4>
                            <div class="timeslot track-header stick-header">
                                <div class="track-header-label">6 Nov</div>
                                <div class="timeslot-elements flexbox-wrapper">
                                    <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
                                        <h5 class="track-header-title" ng-bind='::agenda.categories.android'></h5> </div>
                                    <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
                                        <h5 class="track-header-title" ng-bind='::agenda.categories.web'></h5>
                                    </div>
                                    <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
                                        <h5 class="track-header-title" ng-bind='::agenda.categories.cloud'></h5>
                                    </div>
                                    <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
                                        <h5 class="track-header-title" ng-bind='::agenda.categories.decouverte'></h5> 
                                    </div>
                                    <div class="track-header-slot col-xs-12 visible-xs">
                                        <h5 class="slot-detail track-header-title"></h5> </div>
                                </div>
                            </div>
                            <div class="timeslot session" itemtype="http://schema.org/subEvent" ng-repeat="sessionRow in agenda.sessionsTransform" ngc-done="repeatFinish" ng-class="{favorite : favInSessions(sessionRow)}">
                                <div class="timeslot-label">
                                    <time class="start-time" itemprop="startDate" datetime="October 24T10:00"> {{::sessionRow[0].hourContent.hourStart}}<span>{{::sessionRow[0].hourContent.minStart}}</span> </time>
                                    <time class="end-time" itemprop="endDate" datetime="October 24T10:45">  {{::sessionRow[0].hourContent.hourEnd}}<span>{{::sessionRow[0].hourContent.minEnd}}</span> </time>
                                </div>
                                <div class="timeslot-elements flexbox-wrapper">
                                    <div id="{{::session.id}}" class="slot {{::session.classCol}} col-xs-12 flexbox-item-height" data-slot-detail="{{::session.type}}" ng-click="openModal(session)" ng-repeat="session in sessionRow" ng-class="{favorite: session.fav}">
                                        <div class="color-line {{::session.type}}" ></div>
                                        <div class="slot-content {{::session.type}}">
                                            <h5 class="slot-title" itemprop="name" ng-bind="::session.title"></h5> 
                                            <span class="slot-language" ng-if="session.lang" ng-bind="::session.lang"></span>
                                            <span class="slot-favorite icon-star" ng-if="session.fav"></span>
                                            <span class="slot-favorite icon-star-empty" ng-if="!session.fav"></span>
                                            <p ng-if="::session.confRoom" >{{::session.confRoom}}</p>
                                            <ul class="slot-speakers" ng-if="session.speakers"> 
                                                <li itemprop="performer" ng-repeat="speaker in session.speakers">
                                                    <div class="speaker-img flow-img img-circle" style="background-image: url(/img/people/{{::speaker.image}})">                                                       
                                                    </div> 
                                                    <p class="speaker-name">{{::speaker.firstname+" "+speaker.lastname}} <span class="speaker-position">{{::speaker.company}}</span> 
                                                    </p> 
                                                </li> 
                                            </ul>
                                        </div>
                                    </div>                                  
                                </div>
                            </div>                            
                        </div>                    
                         <div id="codelabs" class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
                            <h4 class="schedule-table-heading">Codelabs</h4>
                            <div class="timeslot track-header stick-header">
                                <div class="track-header-label">6 Nov</div>
                                <div class="timeslot-elements flexbox-wrapper">
                                    <div class="track-header-slot col-md-3 flexbox-item-height hidden-xs">
                                        <h5 class="track-header-title" ng-bind='::agenda.categories.codelabweb'></h5>
                                    </div>
                                    <div class="track-header-slot col-md-3 flexbox-item-height hidden-xs">
                                        <h5 class="track-header-title" ng-bind='::agenda.categories.codelabcloud'></h5>
                                    </div> 
                                    <div class="track-header-slot col-xs-12 visible-xs">
                                        <h5 class="slot-detail track-header-title"></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="timeslot session" itemtype="http://schema.org/subEvent" ng-repeat="sessionRow in agenda.codelabTransform" ngc-done="repeatFinish" ng-class="{favorite : favInSessions(sessionRow)}">
                                <div class="timeslot-label">
                                    <time class="start-time" itemprop="startDate" datetime="October 24T10:00"> {{::sessionRow[0].hourContent.hourStart}}<span>{{::sessionRow[0].hourContent.minStart}}</span> </time>
                                    <time class="end-time" itemprop="endDate" datetime="October 24T10:45">  {{::sessionRow[0].hourContent.hourEnd}}<span>{{::sessionRow[0].hourContent.minEnd}}</span> </time>
                                </div>
                                <div class="timeslot-elements flexbox-wrapper">
                                    <div id="{{::session.id}}" class="slot {{::session.classCol}} col-xs-12 flexbox-item-height" data-slot-detail="{{::session.type}}" ng-click="openModal(session)" ng-repeat="session in sessionRow"  ng-class="{favorite: session.fav}">
                                        <div class="color-line {{::session.type}}" ></div>
                                        <div class="slot-content {{::session.type}}">
                                            <h5 class="slot-title" itemprop="name" ng-bind="::session.title"></h5> <span class="slot-language" ng-if="session.lang" ng-bind="::session.lang"></span>
                                            <span class="slot-favorite icon-star" ng-if="session.fav"></span>
                                            <span class="slot-favorite icon-star-empty" ng-if="!session.fav"></span>
                                            <p ng-if="::session.confRoom" >{{::session.confRoom}}</p>
                                            <ul class="slot-speakers" ng-if="session.speakers"> 
                                                <li itemprop="performer" ng-repeat="speaker in session.speakers">
                                                    <div class="speaker-img flow-img img-circle" style="background-image: url(/img/people/{{::speaker.image}})">                                                       
                                                    </div> 
                                                    <p class="speaker-name">{{::speaker.firstname+" "+speaker.lastname}} <span class="speaker-position">{{::speaker.company}}</span> 
                                                    </p> 
                                                </li> 
                                            </ul>
                                        </div>
                                    </div>                                  
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <a ng-click="scrollTo('conferences')" class="btn btn-primary waves-effect waves-button waves-light waves-float">Afficher les conférences</a>
                    <div class="content-wrapper clearfix">
                         <div id="formation" class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
                            <h4 class="schedule-table-heading">Formation</h4>
                            <div class="timeslot track-header stick-header">
                                <div class="track-header-label">6 Nov</div>
                                <div class="timeslot-elements flexbox-wrapper">
                                    <div class="track-header-slot col-md-3 flexbox-item-height hidden-xs">
                                        <h5 class="track-header-title" ng-bind='::agenda.categories.formation'></h5>
                                    </div>
                                    <div class="track-header-slot col-xs-12 visible-xs">
                                        <h5 class="slot-detail track-header-title"></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="timeslot session" itemtype="http://schema.org/subEvent" ng-repeat="sessionRow in agenda.formationTransform" ngc-done="repeatFinish" ng-class="{favorite : favInSessions(sessionRow)}">
                                <div class="timeslot-label">
                                    <time class="start-time" itemprop="startDate" datetime="October 24T10:00"> {{::sessionRow[0].hourContent.hourStart}}<span>{{::sessionRow[0].hourContent.minStart}}</span> </time>
                                    <time class="end-time" itemprop="endDate" datetime="October 24T10:45">  {{::sessionRow[0].hourContent.hourEnd}}<span>{{::sessionRow[0].hourContent.minEnd}}</span> </time>
                                </div>
                                <div class="timeslot-elements flexbox-wrapper">
                                    <div id="{{::session.id}}" class="slot {{::session.classCol}} col-xs-12 flexbox-item-height" data-slot-detail="{{::session.type}}" ng-click="openModal(session)" ng-repeat="session in sessionRow"  ng-class="{favorite: session.fav}">
                                        <div class="color-line {{::session.type}}" ></div>
                                        <div class="slot-content {{::session.type}}">
                                            <h5 class="slot-title" itemprop="name" ng-bind="::session.title"></h5> <span class="slot-language" ng-if="session.lang" ng-bind="::session.lang"></span>
                                            <span class="slot-favorite icon-star" ng-if="session.fav"></span>
                                            <span class="slot-favorite icon-star-empty" ng-if="!session.fav"></span>
                                            <p ng-if="::session.confRoom" >{{::session.confRoom}}</p>
                                            <ul class="slot-speakers" ng-if="session.speakers"> 
                                                <li itemprop="performer" ng-repeat="speaker in session.speakers">
                                                    <div class="speaker-img flow-img img-circle" style="background-image: url(/img/people/{{::speaker.image}})">                                                       
                                                    </div> 
                                                    <p class="speaker-name">{{::speaker.firstname+" "+speaker.lastname}} <span class="speaker-position">{{::speaker.company}}</span> 
                                                    </p> 
                                                </li> 
                                            </ul>
                                        </div>
                                    </div>                                  
                                </div>
                            </div>                            
                        </div>
                    </div>                    
                </section>
                <!-- End Schedule Section -->
                <!-- Begin Footer -->
                <footer id="footer" class="footer" ng-include="'/partials/footer.html'">
                </footer>
                <!-- End Footer -->
            </div>
        </div>
    </div>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-35116426-1', 'https://devfest.gdgnantes.com');
    ga('send', 'pageview');
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.min.js"></script>   
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>   
    <!-- build:jsdefault ../js/default.js -->
    <script src="../js/default.js"></script>
    <script src="../js/hello.min.js"></script>
    <!-- endbuild -->
    <script>
    Waves.displayEffect();
    angular.module('devfest2015', []);
    </script>
    <!-- build:jsscripts ../js/scripts.js -->
    <script src="../js/app.js"></script>
    <script src="../js/prog.js"></script>
    <script src="../js/fav.js"></script>
    <script src="../js/agenda.js"></script>
    <script src="../js/scripts.js"></script>
    <!-- endbuild -->
    <!-- inject:js -->
    <!-- endinject -->
    <script type="text/javascript">
    $(document).ready(function() {
        window.domReadyForSticky = true;
        if (window.angularReadyForSticky){            
            console.log('From Index');
            setTimeout(function() {

                var navHeight = $('#top-header').height();
                var headerHeight = $('.track-header').first().height();
                $('.stick-header').stick_in_parent({
                    sticky_class: 'sticky',
                    offset_top: navHeight
                });
                $('.stick-label').stick_in_parent({
                    offset_top: navHeight + headerHeight
                });
            }, 500);
        }
        /*setTimeout(function() {

        }, 5000);*/
    });
    </script>
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div   class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Soyez prêt pour le Devfest...</h4>
            </div>
            <div class="modal-body" style="background-color:black;text-align:center">
                <iframe id="game" class="right" width="400px" height="400px" style="border:0px" data-src="../custo/breakout/index.html">
                </iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <div id="socials" ng-include="'/partials/socials.html'"></div>
      
</body>

</html>
